$background: #0a0905;

body {

  background-color: $background;

  #header-container {
    width: 100%;
    text-align: center;
    background-color: $background;
  
    img {
      @media (max-width: 460px) {
        height: 70%;
        width: 70%;
      }
    }
  }
  
  main {
    background-image: url(images/backgroundrocks.PNG);
  }
  
  footer {
    text-align: center;
    font-size: .7em;
    
    p {
      margin: 0;
    }
  }

}